{% extends "main.html" %}
{% block title %}About{% endblock %}
{% block page_content%}
    <div class ="div1">
        <div class = "description">
            <h1></h1>
            <h1>Stay organized.</h1>
            <h1>Effortlessly manage your schedule.</h1>
            <h1></h1>
            <h1><a href="/login"><button style="background-color: cornflowerblue;">Sign in</button></a>
            <a href="/register"><button style="background-color: azure;">Get Started</button></a></h1>
        </div>  
    </div>
    <div class="div2">
        <div class ="images">
            <h1></h1>
            <img src="static\img\Home.png" width="600" height=auto alt="">
            <h1></h1>
            <img src="static\img\Calendar.png" width="600" height=auto alt="">
            
        </div>
    </div>
{% endblock%}